version: "3.9"
services:
    backend:
        build:
            context: .
            dockerfile: Dockerfile
        image: dob-ecommerce-server
        restart: always
        container_name: dob-ecommerce-server
        env_file:
            - ./.env
        depends_on:
            - postgres
            - redis
        ports:
            - 9000:9000
        volumes:
            - ./:/app
            - node_modules:/app/node_modules

    redis:
        image: redis:7.0.7-alpine
        restart: always
        container_name: cache
        ports:
            - "6379:6379"
        volumes:
            - redis_data:/data
    postgres:
        image: postgres:16-alpine
        restart: always
        volumes:
            - postgres-db:/var/lib/postgresql/data
        environment:
            - POSTGRES_DB=medusa_db
            - POSTGRES_USER=admin
            - POSTGRES_PASSWORD=admin
        ports:
            - 5432:5432

volumes:
    postgres-db:
    redis_data:
    node_modules:
