<!DOCTYPE html>
html(lang="vi")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./style.css
        title #{title}

    body
        .container
            .header
                p CHAMDEP VN | Giày dép nam nữ trẻ em 
            .center.title
                block title
            .center.description
                block description
            .center
                block actions
            .footer
                p CHAMDEP VN | Giày dép nam nữ trẻ em