extends ./../layouts/main.pug
block title
    p(class="success") Đơn hàng của quý khách đang được xử lý để hoàn trả
block description
    p Chúng tôi đang gửi lại số tiền <span class="bold">#{total_value} #{order.currency_code === 'usd' ? '$' : order.currency_code}</span>
    p(class="small") Mã số đơn hàng: #{order.id}
//-
//- block actions
//-     a(href=link, target="_blank" class="button") Visit our website
